# Ignore Terraform directories
.terraform/
.terraform.lock.hcl

# Exclude Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore log files
*.log

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore system files
.DS_Store
